$base-color: #579;
$border: 2px solid $base-color;

.brand, a {
  color: darken( $base-color, 20% )
}

.navbar {
  background-color: $base-color;
  padding-right: 10px;
  z-index: 1000;
}

.content {
  height: 80vh;
  margin-bottom: -102px; 
}

.above {
  position: fixed;
  top: 50px;
  left: 2px;
  background: none;
}

.item {
  height: 220px;
}

footer {
  border-top: $border;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
